@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-on-surface;
}

.grid-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}
